In [25]:
import yfinance as yf
import pandas as pd

In [5]:
sp500 = yf.Ticker("^GSPC")
sp500 = sp500.history(period="max")

In [6]:
sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2023-04-13 00:00:00-04:00,4100.040039,4150.259766,4099.399902,4146.220215,3596590000,0.0,0.0
2023-04-14 00:00:00-04:00,4140.109863,4163.189941,4113.200195,4137.640137,3575690000,0.0,0.0
2023-04-17 00:00:00-04:00,4137.169922,4151.720215,4123.180176,4151.319824,3611180000,0.0,0.0
2023-04-18 00:00:00-04:00,4164.259766,4169.479980,4140.359863,4154.870117,3536640000,0.0,0.0
2023-04-19 00:00:00-04:00,4139.330078,4162.569824,4134.490234,4154.520020,3572560000,0.0,0.0

In [7]:
sp500.index

DatetimeIndex(['1927-12-30 00:00:00-05:00', '1928-01-03 00:00:00-05:00',
               '1928-01-04 00:00:00-05:00', '1928-01-05 00:00:00-05:00',
               '1928-01-06 00:00:00-05:00', '1928-01-09 00:00:00-05:00',
               '1928-01-10 00:00:00-05:00', '1928-01-11 00:00:00-05:00',
               '1928-01-12 00:00:00-05:00', '1928-01-13 00:00:00-05:00',
               ...
               '2023-04-05 00:00:00-04:00', '2023-04-06 00:00:00-04:00',
               '2023-04-10 00:00:00-04:00', '2023-04-11 00:00:00-04:00',
               '2023-04-12 00:00:00-04:00', '2023-04-13 00:00:00-04:00',
               '2023-04-14 00:00:00-04:00', '2023-04-17 00:00:00-04:00',
               '2023-04-18 00:00:00-04:00', '2023-04-19 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', length=23939, freq=None)

In [10]:
del sp500["Dividends"]
del sp500["Stock Splits"]

In [14]:
sp500.plot.line(y="Close", use_index=True)

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [15]:
sp500["Tomorrow"] = sp500["Close"].shift(-1)

In [16]:
sp500

,Open,High,Low,Close,Volume,Tomorrow
Date,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,17.760000
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,17.719999
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,17.549999
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,17.660000
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,17.500000
...,...,...,...,...,...,...
2023-04-13 00:00:00-04:00,4100.040039,4150.259766,4099.399902,4146.220215,3596590000,4137.640137
2023-04-14 00:00:00-04:00,4140.109863,4163.189941,4113.200195,4137.640137,3575690000,4151.319824
2023-04-17 00:00:00-04:00,4137.169922,4151.720215,4123.180176,4151.319824,3611180000,4154.870117
2023-04-18 00:00:00-04:00,4164.259766,4169.479980,4140.359863,4154.870117,3536640000,4154.520020
2023-04-19 00:00:00-04:00,4139.330078,4162.569824,4134.490234,4154.520020,3572560000,NaN

In [17]:
sp500["Target"] = (sp500["Tomorrow"] > sp500["Close"]).astype(int)

In [18]:
sp500

,Open,High,Low,Close,Volume,Tomorrow,Target
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,17.760000,1
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,17.719999,0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,17.549999,0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,17.660000,1
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,17.500000,0
...,...,...,...,...,...,...,...
2023-04-13 00:00:00-04:00,4100.040039,4150.259766,4099.399902,4146.220215,3596590000,4137.640137,0
2023-04-14 00:00:00-04:00,4140.109863,4163.189941,4113.200195,4137.640137,3575690000,4151.319824,1
2023-04-17 00:00:00-04:00,4137.169922,4151.720215,4123.180176,4151.319824,3611180000,4154.870117,1
2023-04-18 00:00:00-04:00,4164.259766,4169.479980,4140.359863,4154.870117,3536640000,4154.520020,0
2023-04-19 00:00:00-04:00,4139.330078,4162.569824,4134.490234,4154.520020,3572560000,NaN,0

In [19]:
sp500 = sp500.loc["1990-01-01":].copy()

In [20]:
sp500

,Open,High,Low,Close,Volume,Tomorrow,Target
Date,,,,,,,
1990-01-02 00:00:00-05:00,353.399994,359.690002,351.980011,359.690002,162070000,358.760010,0
1990-01-03 00:00:00-05:00,359.690002,360.589996,357.890015,358.760010,192330000,355.670013,0
1990-01-04 00:00:00-05:00,358.760010,358.760010,352.890015,355.670013,177000000,352.200012,0
1990-01-05 00:00:00-05:00,355.670013,355.670013,351.350006,352.200012,158530000,353.790009,1
1990-01-08 00:00:00-05:00,352.200012,354.239990,350.540009,353.790009,140110000,349.619995,0
...,...,...,...,...,...,...,...
2023-04-13 00:00:00-04:00,4100.040039,4150.259766,4099.399902,4146.220215,3596590000,4137.640137,0
2023-04-14 00:00:00-04:00,4140.109863,4163.189941,4113.200195,4137.640137,3575690000,4151.319824,1
2023-04-17 00:00:00-04:00,4137.169922,4151.720215,4123.180176,4151.319824,3611180000,4154.870117,1
2023-04-18 00:00:00-04:00,4164.259766,4169.479980,4140.359863,4154.870117,3536640000,4154.520020,0
2023-04-19 00:00:00-04:00,4139.330078,4162.569824,4134.490234,4154.520020,3572560000,NaN,0

In [23]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, min_samples_split=100, random_state=1)    # more the n_estimators more the accuracy, random_state=1 to getsame result

train = sp500.iloc[:100]
test = sp500.iloc[-100:]

predictors = ["Close", "Open", "High", "Low", "Volume"]
model.fit(train[predictors], train["Target"])

RandomForestClassifier(min_samples_split=100, random_state=1)

In [26]:
from sklearn.metrics import precision_score

preds = model.predict(test[predictors])
preds = pd.Series(preds, index=test.index)

In [28]:
precision_score(test["Target"], preds)

0.47

In [29]:
combined = pd.concat([test["Target"], preds], axis=1)

In [30]:
combined.plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [31]:
# backtesting
def predict(train, test, predictors, model):
    model.fit(train[predictors], train["Target"])
    preds = model.predict(test[predictors])
    preds = pd.Series(preds, index=test.index, name="Predictions")
    combined = pd.concat([test["Target"], preds], axis=1)
    return combined

In [32]:
def backtest(data, model, predictors, start=2500, step=250):
    all_predictions = []

    for i in range(start, data.shape[0], step):
        train = data.iloc[0:i].copy()
        test = data.iloc[i:(i+step)].copy()
        predictions = predict(train, test, predictors, model)
        all_predictions.append(predictions)
    
    return pd.concat(all_predictions)

In [33]:
predictions = backtest(sp500, model, predictors)

In [34]:
predictions["Predictions"].value_counts()

Predictions
0    3324
1    2565
Name: count, dtype: int64

In [35]:
precision_score(predictions["Target"], predictions["Predictions"])

0.5274853801169591

In [36]:
predictions["Target"].value_counts() / predictions.shape[0]

Target
1    0.533877
0    0.466123
Name: count, dtype: float64

In [37]:
horizons = [2,5,60,250,1000]
new_predictors = []

for horizon in horizons:
    rolling_averages = sp500.rolling(horizon).mean()
    
    ratio_column = f"Close_Ratio_{horizon}"
    sp500[ratio_column] = sp500["Close"] / rolling_averages["Close"]
    
    trend_column = f"Trend_{horizon}"
    sp500[trend_column] = sp500.shift(1).rolling(horizon).sum()["Target"]
    
    new_predictors+= [ratio_column, trend_column]

In [38]:
sp500 = sp500.dropna(subset=sp500.columns[sp500.columns != "Tomorrow"])

In [39]:
sp500

,Open,High,Low,Close,Volume,Tomorrow,Target,Close_Ratio_2,Trend_2,Close_Ratio_5,Trend_5,Close_Ratio_60,Trend_60,Close_Ratio_250,Trend_250,Close_Ratio_1000,Trend_1000
Date,,,,,,,,,,,,,,,,,
1993-12-14 00:00:00-05:00,465.730011,466.119995,462.459991,463.059998,275050000,461.839996,0,0.997157,1.0,0.996617,1.0,1.000283,32.0,1.028047,127.0,1.176082,512.0
1993-12-15 00:00:00-05:00,463.059998,463.690002,461.839996,461.839996,331770000,463.339996,1,0.998681,0.0,0.995899,1.0,0.997329,32.0,1.025151,126.0,1.172676,512.0
1993-12-16 00:00:00-05:00,461.859985,463.980011,461.859985,463.339996,284620000,466.380005,1,1.001621,1.0,0.999495,2.0,1.000311,32.0,1.028274,127.0,1.176163,513.0
1993-12-17 00:00:00-05:00,463.339996,466.380005,463.339996,466.380005,363750000,465.850006,0,1.003270,2.0,1.004991,3.0,1.006561,32.0,1.034781,128.0,1.183537,514.0
1993-12-20 00:00:00-05:00,466.380005,466.899994,465.529999,465.850006,255900000,465.299988,0,0.999431,1.0,1.003784,2.0,1.005120,32.0,1.033359,128.0,1.181856,513.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-13 00:00:00-04:00,4100.040039,4150.259766,4099.399902,4146.220215,3596590000,4137.640137,0,1.006588,1.0,1.008261,3.0,1.029067,31.0,1.044421,114.0,1.114702,533.0
2023-04-14 00:00:00-04:00,4140.109863,4163.189941,4113.200195,4137.640137,3575690000,4151.319824,1,0.998964,1.0,1.004581,2.0,1.026052,31.0,1.042527,114.0,1.112033,533.0
2023-04-17 00:00:00-04:00,4137.169922,4151.720215,4123.180176,4151.319824,3611180000,4154.870117,1,1.001650,1.0,1.005841,2.0,1.028371,32.0,1.046227,115.0,1.115346,533.0
2023-04-18 00:00:00-04:00,4164.259766,4169.479980,4140.359863,4154.870117,3536640000,4154.520020,0,1.000427,2.0,1.004465,3.0,1.028477,32.0,1.047447,115.0,1.115937,533.0
2023-04-19 00:00:00-04:00,4139.330078,4162.569824,4134.490234,4154.520020,3572560000,NaN,0,0.999958,1.0,1.001351,3.0,1.027819,31.0,1.047680,115.0,1.115481,532.0

In [40]:
model = RandomForestClassifier(n_estimators=200, min_samples_split=50, random_state=1)

In [41]:
def predict(train, test, predictors, model):
    model.fit(train[predictors], train["Target"])
    preds = model.predict_proba(test[predictors])[:,1]
    preds[preds >=.6] = 1
    preds[preds <.6] = 0
    preds = pd.Series(preds, index=test.index, name="Predictions")
    combined = pd.concat([test["Target"], preds], axis=1)
    return combined

In [42]:
predictions = backtest(sp500, model, new_predictors)

In [43]:
predictions["Predictions"].value_counts()

Predictions
0.0    4076
1.0     813
Name: count, dtype: int64

In [44]:
precision_score(predictions["Target"], predictions["Predictions"])

0.5694956949569495

In [45]:
predictions["Target"].value_counts() / predictions.shape[0]

Target
1    0.543874
0    0.456126
Name: count, dtype: float64

In [46]:
predictions

                           Target  Predictions
Date
2003-11-14 00:00:00-05:00       0          0.0
2003-11-17 00:00:00-05:00       0          1.0
2003-11-18 00:00:00-05:00       1          1.0
2003-11-19 00:00:00-05:00       0          0.0
2003-11-20 00:00:00-05:00       1          1.0
...                           ...          ...
2023-04-13 00:00:00-04:00       0          0.0
2023-04-14 00:00:00-04:00       1          0.0
2023-04-17 00:00:00-04:00       1          0.0
2023-04-18 00:00:00-04:00       0          0.0
2023-04-19 00:00:00-04:00       0          0.0

[4889 rows x 2 columns]